{% extends "base_logged.html" %}

{%block title%}Yaco{% endblock %}
{%block header%}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light shadow bg-light">
            <a class="navbar-brand" href="{{url_for('principal.dashboard')}}"><img src="/static/yaco-300x300.png" width="100%" alt="Yaco logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('principal.dashboard')}}">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Revisiones</a>
                </li>
                <li class="nav-item">
                    <a class="text-danger nav-link" href="{{url_for('login.logout')}}">Salir</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Palabra" aria-label="Palabra">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="container">
            <h1>Bienvenido, {{session['usr'].get_id()}}</h1>
        </div>
        <div class="container">
            <p>Tipo usuario: {{session['usr'].get_tipo_estudiante()}}</p>
            <p>Fecha registro: {{session['usr'].get_fecha_registro()}}</p>
            <p>Fecha: {{date}}</p>
        </div>
    </div>
{%endblock%}

{%block footer%}
    <footer class="container-fluid navbar navbar-default navbar-bottom">
        <h3>Yaco</h3>
        <ul class="nav">
        
            <li class="nav-item">
                <a class="nav-link" href="#!">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Ayuda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!">Contacto</a>
            </li>
        </ul>
    </footer>
{%endblock%}