{% extends "base_logged.html" %}

{%block title%}Yaco{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bienvenido, {{user.get_id()}}</h1>
    </div>
    <div class="container">
        <p>Tipo usuario: {{user.get_tipo_estudiante()}}</p>
        <p>Fecha registro: {{user.get_fecha_registro().strftime('%Y-%m-%d %H:%M')}}</p>
        <p>Fecha: {{date.strftime('%Y-%m-%d %H:%M')}}</p>
    </div>
    <div class="review-count container">
        <div class="card-deck text-light">
            <div class="card bg-secondary">
                <div class="card-body text-center">
                    <p class="h3 card-text">{{user.cant_flashcard(1)+user.cant_flashcard(2)+user.cant_flashcard(3)+user.cant_flashcard(4)+user.cant_flashcard(5)}}</p>
                    <p class="card-text">Pichón 1-5</p>
                </div>
            </div>
            <div class="card bg-info">
                <div class="card-body text-center">
                    <p class="h3 card-text">{{user.cant_flashcard(6)}}</p>
                    <p class="card-text">Cotorra</p>
                </div>
            </div>
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <p class="h3 card-text">{{user.cant_flashcard(7)}}</p>
                    <p class="card-text">Loro</p>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-body text-center">
                    <p class="h3 card-text">{{user.cant_flashcard(8)}}</p>
                    <p class="card-text">Yaco</p>
                </div>
            </div>
        </div>
        <div class="progress mt-4">
            <div class="progress-bar bg-secondary" style="width:40%">
                Pichón 1-5
            </div>
            <div class="progress-bar bg-info" style="width:10%">
                Cotorra
            </div>
            <div class="progress-bar bg-primary" style="width:20%">
                Loro
            </div>
            <div class="progress-bar bg-dark" style="width:30%">
                Yaco
            </div>
        </div>
    </div>
{%endblock%}