{% extends "base_logged.html" %}

{%block title%}Yaco{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bienvenido, {{user.get_id()}}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table id="dashboard-data" class="table-sm borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Tipo cuenta</th>
                            <td>{{user.get_tipo_estudiante()}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Usuario desde</th>
                            <td>{{user.get_fecha_registro().strftime('%Y-%m-%d')}} ({{(date-session.get('usr').get_fecha_registro()).days}} días)</td>
                        </tr>
                        <tr>
                            <th scope="row">Palabras aprendidas</th>
                            <td>{{user.get_cant_palabra()}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Experiencia</th>
                            <td>{{user.get_exp_total()}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Experiencia/día</th>
                            <td>{{user.get_exp_total()/((date-session.get('usr').get_fecha_registro()).days)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card-deck text-light">
                    <div class="card bg-secondary">
                        <div class="card-body text-center">
                            <p class="h3 card-text">{{srslvl[0]}}</p>
                            <p class="card-text">Pichón 1-5</p>
                        </div>
                    </div>
                    <div class="card bg-info">
                        <div class="card-body text-center">
                            <p class="h3 card-text">{{srslvl[1]}}</p>
                            <p class="card-text">Cotorra</p>
                        </div>
                    </div>
                    <div class="card bg-primary">
                        <div class="card-body text-center">
                            <p class="h3 card-text">{{srslvl[2]}}</p>
                            <p class="card-text">Loro</p>
                        </div>
                    </div>
                    <div class="card bg-dark">
                        <div class="card-body text-center">
                            <p class="h3 card-text">{{srslvl[3]}}</p>
                            <p class="card-text">Yaco</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="progress">
                    <div class="progress-bar {{srs_color(1)}}" style="width:{{(srslvl[0]/(srslvl[0]+srslvl[1]+srslvl[2]+srslvl[3])*100)|int}}%">
                        Pichón 1-5
                    </div>
                    <div class="progress-bar {{srs_color(srslvl[1])}}"  style="width:{{(srslvl[1]/(srslvl[0]+srslvl[1]+srslvl[2]+srslvl[3])*100)|int}}%">
                        Cotorra
                    </div>
                    <div class="progress-bar {{srs_color(srslvl[2])}}"  style="width:{{(srslvl[2]/(srslvl[0]+srslvl[1]+srslvl[2]+srslvl[3])*100)|int}}%">
                        Loro
                    </div>
                    <div class="progress-bar {{srs_color(srslvl[3])}}" style="width:{{(srslvl[3]/(srslvl[0]+srslvl[1]+srslvl[2]+srslvl[3])*100)|int}}%">
                        Yaco
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}