{%extends "base_logged.html"%}

{%block title%}Yaco - palabras {%endblock%}

{%block content%}
    <div class="container">
        <h1>{{user.get_cant_palabra()}} palabras añadidas</h1>
    </div>
    <div class="container">
        <div class="list-group">
            {%for w in word_list%}
                <a href="{{url_for('palabrainfo.palabra_info',id=w.get_id())}}" class="list-group-item clearfix list-group-item-action flex-column align-items-start bg-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{w.get_definicion_principal('en').get_definicion()}}</h5>
                        <small>Ofensiva: {%if w.get_es_ofensiva()%} Sí {%else%} No {%endif%}</small>
                    </div>
                    
                    <p class="mb-1">
                        {%for d in w.get_definicion_iter('es')%}
                            {{d.get_definicion()}}{%if not loop.last%},&nbsp;{%else%}{%endif%} 
                        {%endfor%}
                    </p>
                    <div class="d-flex w-100 justify-content-between">
                        <small>{{w.get_tipo()}}</small>
                        <small>
                            {%if user.get_palabra(w['id']) is none%}
                                <p class="inline text-warning">No añadida</p>
                            {%else%}
                                <form action="{{url_for('palabrainfo.eliminar_actual',id=w.get_id())}}">
                                    <button class="btn btn-sm btn-default btn-outline-danger" type="submit" onclick="stopProp(event);">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </form>
                            {%endif%}
                        </small>
                    </div>
                </a>
            {%endfor%}
        </div>
    </div>
{%endblock%}
{%block script%}
    {{super()}}
    <script type="text/javascript">
        function stopProp(event) {
            event.stopPropagation(); 
            if (!confirm('Se eliminará todo el progreso obtenido en las revisiones. ¿Estás seguro de eliminar la palabra?')){
                event.preventDefault();
            }
        }
    </script>
{%endblock%}