{%extends "base_logged.html"%}

{%block title%}Yaco - Buscar{%endblock%}

{%block content%}
    <div class="container">
        <h1>Resultados para: {{word}}</h1>
    </div>
    <div class="container">
        <div class="list-group">
            {%for w in word_list%}
                <a href="{{url_for('palabrainfo.palabra_info',id=w['id'])}}" class="list-group-item clearfix list-group-item-action flex-column align-items-start bg-light">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{w['definicion_eng'][0][0]}}</h5>
                        <small>Ofensiva: {%if w['es_ofensiva']%} Sí {%else%} No {%endif%}</small>
                    </div>
                    
                    <p class="mb-1">
                        {%for i in range(w['definicion_esp'] |length)%}
                            {{w['definicion_esp'][i][0]}}{%if i<((w['definicion_esp'] |length)-1)%},&nbsp;{%else%}{%endif%} 
                        {%endfor%}
                    </p>
                    <div class="d-flex w-100 justify-content-between">
                        <small>{{w['tipo']}}</small>
                        <small>
                            {%if user.get_palabra(w['id']) is none%}
                                <p class="inline text-warning">No añadida</p>
                            {%else%}
                                <form action="{{url_for('palabrainfo.eliminar_actual',id=w['id'])}}">
                                    <button class="btn btn-sm btn-default btn-outline-danger" type="submit">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </form>
                            {%endif%}
                        </small>
                    </div>
                </a>
            {%endfor%}
        </div>
    </div>
{%endblock%}
{%block script%}
    {{super()}}
    <script type="text/javascript">
        function stopProp(event) {
            confirm('Se eliminará todo el progreso obtenido en las revisiones. ¿Estás seguro de eliminar la palabra?');
            event.stopPropagation(); 
            event.preventDefault();
        }
    </script>
{%endblock%}